.center{
	margin-left: auto;
	margin-right: auto;
}

table.imageTable th, td{
	border: solid 2px;
}
table.imageTable{
	width: 100%;
	border-collapse: collapse;
}

p.theorem{
	background-color: yellow;
	font-style: italic;
}
p.proof{
	background-color: lightgreen;
}